@model IEnumerable<IdeaManageApp.Models.Idea>

@{
    ViewBag.Title = "StaffDetail";
}

<h2>Detail</h2>

@if (ViewBag.Role == "Staff")
{


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Idea_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Create_date)
        </th>
        <th></th>
    </tr>
    @if (@ViewData["popularIdeaCateName"] != null)
    {
        <tr>
            <th>Popular Ideas</th>
        </tr>
        <tr>
            <td>
                @ViewData["popularIdeaCateName"]
            </td>
            <td>
                @ViewData["popularIdeaTitle"]
            </td>
            <td>
                @ViewData["popularIdeaContent"]
            </td>
            <td>
                @ViewData["popularIdeaCreateDate"]
            </td>
        </tr>
    }
    @if (@ViewData["mostViewIdeaCateName"] != null)
    {
        <tr>
            <th>Most View Ideas</th>
        </tr>
        <tr>
            <td>
                @ViewData["mostViewIdeaCateName"]
            </td>
            <td>
                @ViewData["mostViewIdeaTitle"]
            </td>
            <td>
                @ViewData["mostViewIdeaContent"]
            </td>
            <td>
                @ViewData["mostViewIdeaCreateDate"]
            </td>
        </tr>
    }
    @if (@ViewData["latestCommentCateName"] != null)
    {
        <tr>
            <th> Latest Comment</th>
        </tr>
        <tr>
            <td>
                @ViewData["latestCommentCateName"]
            </td>
            <td>
                @ViewData["latestCommentTitle"]
            </td>
            <td>
                @ViewData["latestCommentContent"]
            </td>
            <td>
                @ViewData["latestCommentCreateDate"]
            </td>
        </tr>
    }

    @if (@ViewData["latestIdeaCateName"] != null)
    {
        <tr>
            <th> Latest Ideas</th>
        </tr>
        <tr>
            <td>
                @ViewData["latestIdeaCateName"]
            </td>
            <td>
                @ViewData["latestIdeaTitle"]
            </td>
            <td>
                @ViewData["latestIdeaContent"]
            </td>
            <td>
                @ViewData["latestIdeaCreateDate"]
            </td>
            <td></td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Idea_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Create_date)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Category_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Idea_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea_Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea_Create_date)
            </td>

            <td>
                @Html.ActionLink("Details", "ideaDetails", new { id = item.Idea_Id })
            </td>
        </tr>
    }

</table>

}

