@model IEnumerable<IdeaManageApp.Models.Idea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_Create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idea_File_path)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TermsAndCondition)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Idea_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idea_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idea_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idea_Create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idea_File_path)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TermsAndCondition)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idea_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idea_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idea_Id })
        </td>
    </tr>
}

</table>
