@model IEnumerable<IdeaManageApp.Models.Reaction>

@{
    ViewBag.Title = "Index";

}

@if (ViewBag == "Admin")
{
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idea.Idea_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.User_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_like)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_Date)
            </th>
            <th>Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idea.Idea_Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.User_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_like)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Reaction_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Reaction_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Reaction_Id })
                </td>
            </tr>
        }

    </table>
}

else
{
    <h1>You Do Not Have Permission</h1>
}


